body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
}

.title {
  text-align: center;
  font-size: 24px;
  color: white;
}

.game-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  max-height: 450px;
  max-width: 450px;
  border: solid 1px white;
  background-color: black;
}

.score-board {
  color: white;
  text-align: center;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.message-content {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.title::after {
  content: "_";
}

.title::after {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
