body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
}

.title {
  text-align: center;
  font-size: 24px;
  color: white;
}

.game-container {
  display: flex;
  justify-content: center;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: solid 1px white;
  background-color: black;
}

.score-board {
  color: white;
  text-align: center;
}

.title::after {
  content: "_";
}

.title::after {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
